
.box{
    height: px;
    padding: 15px;
    width: 370px;
    background-color: orange;
    border-radius: 30px;

}
.image{
border-radius: 30px;
height: 300px;
width: 370px;
}
.content{
    font-size: 22px;
    text-align: justify;
}