
.box{
    height: px;
    padding: 15px;
    width: 370px;
    background-color: rgb(74, 233, 145);
    border-radius: 30px;

}
.image{
border-radius: 30px;
height: 300px;
width: 370px;
}
.container:hover{
    opacity: 50%;
}
.content{
    font-size: 20px;
}